{% extends "base.html" %}
{% block content %}
<div class="container p-3 mb-2 bg-secondary text-white">
    <p class="font-weight-bold">Enter new blog details</p>
    <form id="new-blog" action="/blogs/new" method="post">
        <div class="form-group">
            <label for="title">Title</label>
        <input type="text" id="title" class="form-control" name="title" placeholder="Sample name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
        <input type="text" id="description" class="form-control" name="description" placeholder="Sample description">
        </div>
        <button type="submit" class="btn btn-info">Create blog</button>
    </form>
</div>

{% endblock %}