{% extends "base.html" %}
{% block content %}
<div class="container p-3 mb-2 bg-info text-white">
   <div class="space"></div>
<div class="container p-3 mb-2 bg-secondary text-white">
    <div class="space"></div>
    <font face="Arial" size=18 color="white">{{ blog_title }}</font>
    <div class="space"></div>
</div>
    <div class="p-3 mb-2 bg-white text-dark">
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.author }}</p>
        <hr>
    {% endfor %}
    </div>
</div>
{% endblock %}