{% extends "base.html" %}
{% block content %}
    <div class="container">
        <hr>
        <h2>{{ email }}'s blogs</h2>
        <hr>
        <a href="/blogs/new"><button class="btn btn-info">New blog</button></a>
        <hr>
        <div class="container blog-form p-3 mb-2 bg-secondary text-white">
            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                <h3><a href="/posts/{{ blog._id }}" class="text-white">{{ blog.title }}</a></h3>
                    <p>{{ blog.description }}</p>
                    <hr>
                {% endfor %}
            {% else %}
                <h4>There aren't any blogs yet!</h4>
            {% endif %}
        </div>
    </div>
    <a href="/"><button class="btn btn-info">Home</button></a>

{% endblock %}