<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing service</title>

    {% include 'html_dependencies.html' %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" title="Home">Pricing</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('stores.index') }}">Stores</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('alerts.index') }}">Alerts</a></li>
            </ul>

            {%  if session['email'] %}
             <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('users.user_alerts') }}"><i class="far fa-bell"></i> Your alerts</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('users.login_user') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('users.register_user') }}"><i class="fas fa-user-plus"></i> Register</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="content container">
{% block content %}

{% endblock %}
</div>
</body>
</html>